.app-navbar {
  height: 100%;
  width: 50px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  background-color: #2d3443;
  color: #fff;
  text-align: center;

  .nav-actions {
    margin-top: 40px;
    li {
      margin-top: 20px;
      span {
        position: absolute;
        left: -9999px;
      }
      a {
        text-decoration: none;
        color: #92a0bb;
        display: block;
        height: 30px;
        text-align: center;
        &:hover,
        &.selected {
          color: #FFF;
        }
      }
    }
  }

}